<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        {% include gravatar.html %}
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
              <p>{{ site.description | escape }}</p>
          </li>
          <li>
              {{ site.author | escape }}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>

<!-- additional libraries-->
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
